<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="thunderClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <thunderClient.Properties.Settings>
            <setting name="ThunderUrl" serializeAs="String">
                <value>http://127.0.0.1:1080/thunder</value>
            </setting>
            <setting name="AlarmRangeKm" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ThisLon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThisLat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlarmTimeRangeSec" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ActionMode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ActionCmd" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckInterval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="NoticeMode" serializeAs="String">
                <value>True</value>
            </setting>
        </thunderClient.Properties.Settings>
    </userSettings>
</configuration>